/* Account Login/Create Pages ============================================================ */
.account-login {
    .new-users h2 {}
    .registered-users h2 {}
    .buttons-set { border-top: 0; margin: 0; padding: 8px 13px; }
    .content { padding: 14px 21px;
        h2 { background-position: 0 1px; background-repeat: no-repeat; color: #e76200; font-size: em(13); font-weight: bold; margin: 0 0 14px; padding: 0 0 5px 0; text-transform: uppercase; }
    }
}

.account-create {}

/* Captcha ================================================================================ */
.captcha-note      { clear: left; padding-top: 5px; }
.captcha-image     { display: inline; float: left; margin: 0; position: relative; width: 258px; }
.captcha-image .captcha-img { border: 1px solid #b6b6b6; vertical-align: bottom; width: 100%; }
.registered-users .captcha-image { margin: 0;}
.captcha-reload { cursor: pointer; position: absolute; right: 2px; top: 2px; }
.captcha-reload.refreshing  { @include animation(rotate, 1.5s, infinite, linear); }

@-webkit-keyframes rotate {
    0% { -webkit-transform:rotate(0); }
    0% { -webkit-transform:rotate(-360deg); }
}
@-moz-keyframes rotate {
    0% { -moz-transform:rotate(0); }
    0% { -moz-transform:rotate(-360deg); }
}
@keyframes rotate {
    0% { transform:rotate(0); }
    0% { transform:rotate(-360deg); }
}

/* Remember Me Popup ===================================================================== */
.window-overlay { background: url(../images/window_overlay.png) repeat; background: rgba(0, 0, 0, 0.35); height: 100%; left: 0; position: absolute; top: 0; width: 100%; z-index: 990; }

.remember-me label { float: none; margin: 0 6px; }
.remember-me-popup { background: #fff; border: 1px solid #ccc; @include boxShadow(0, 0, 6px, #ccc); left: 50%; margin: -85px 0 0 -200px; position: absolute; text-align: left; top: 50%; width: 400px; z-index: 1000;
    h3 { background: #d9e5ee; border-bottom: 1px solid #ccc; font-size: em(14); padding: 5px 10px; }
    .remember-me-popup-head { position: relative;
        .remember-me-popup-close { background: url(../images/btn_window_close.gif) no-repeat; display: block; height: 15px; position: absolute; right: 7px; text-indent: -9999em; top: 7px; width: 15px; }
    }
    .remember-me-popup-body { padding: 10px;
        a { background: #f18200; border: 1px solid #de5400; color: #fff; display: inline-block; font: bold em(12)/em(19) Arial, Helvetica, sans-serif; height: 19px; padding: 0 8px; text-align: center; text-decoration: none; white-space: nowrap; }
    }
}
/* Remember Me Popup ===================================================================== */

/* My Account ============================================================================= */
.my-account .title-buttons .link-rss { float: none; margin: 0; }

/********** < Dashboard */
.dashboard .welcome-msg { margin: 0 8em 1.5em 0;
    p { margin: 0; }
}
.dashboard .col2-set { margin: 0 0 15px; }

/* General Box */
.box-account { background: #fff url(../images/bkg_account_box.gif) repeat-x 0 0; border: 1px solid #ccc; border-color: #ccc #999 #999 #ccc; margin: 0 0 20px; padding: 15px;
    .box-head { border-bottom: 1px solid #d9dde3; margin: 0 0 10px; text-align: right;
        h2 { background-position: 0 0; background-repeat: no-repeat; color: #e65505; float: left; font-size: em(13); font-weight: bold; margin: 0; padding-left: 21px; text-transform: uppercase; }
    }
}

.dashboard .box .box-title { background: url(../images/bkg_divider1.gif) repeat-x 0 100%; margin: 0 0 8px; padding: 0 0 2px; text-align: right;
    h3, h4 { float: left; font-size: em(13); font-weight: bold; margin: 0; }
}

/* Block: Recent Orders */
.dashboard .box-recent .box-head h2 { background-image: url(../images/i_folder-table.gif); }

/* Block: Account Information */
.dashboard .box-info {
    .box-head h2 { background-image: url(../images/i_ma-info.gif); }
    h4 { font-size: em(11); font-weight: bold; text-transform: uppercase; }
}

/* Block: Reviews */
.dashboard .box-reviews {
    .box-head h2 { background-image: url(../images/i_ma-reviews.gif); }
    .number { background: #0a263c; color: #fff; float: left; font-size: em(10); font-weight: bold; line-height: 1; margin: 3px -20px 0 0; padding: 2px 3px; }
    .details { margin-left: 20px; }
    li.item { margin: 0 0 7px; }
    li.item.last { margin: 0; }
    .ratings { margin: 7px 0 0; }
}

/* Block: Tags */
.dashboard .box-tags {
    .box-head h2 { background-image: url(../images/i_ma-tags.gif); }
    .number { background: #0a263c; color: #fff; float: left; font-size: em(10); font-weight: bold; line-height: 1; margin: 3px -20px 0 0; padding: 2px 3px; }
    .details { margin-left: 20px; }
    li.item { margin: 0 0 7px; }
    li.item.last { margin: 0; }
    .tags strong, .tags ul, .tags ul li { display: inline; }
}
/********** Dashboard > */

/* Address Book */
.addresses-list {
    h2 { color: #e26703; font-size: em(13); font-weight: bold; text-transform: uppercase; }
    h3 { font-size: em(13); font-weight: bold; }
    address { margin: 0 0 3px; }
    p { margin: 0; }
    a { font-weight: bold; }
    .link-remove { color: #646464; }
    .separator { margin: 0 3px; }
    li.item { background: #fff url(../images/bkg_account_box.gif) repeat-x 0 0; border: 1px solid #ccc; margin: 0 0 10px; padding: 10px 13px; }
    li.empty { background: none; border: 0; padding: 0; }
    li.empty p { font-weight: bold; }
    .addresses-additional li.item { background: none; border: 0; padding: 0; }
}

/* Order View */
.order-info { background: #dee5e8; border: 1px solid #d0cbc1; margin: 0 0 8px; padding: 4px 8px;
    dt, dd, ul, li { display: inline; }
    .current { font-weight: bold; }
    li { margin: 0 3px; }
}

.order-date { margin: 10px 0; }

.order-info-box { background: #fff url(../images/bkg_block-title.gif) repeat-x 0 0; border: 1px solid #d0cbc1; margin: 0 0 15px; padding: 12px 15px;
    h2 { font-size: em(13); font-weight: bold; }
    .box-payment {
        p { margin: 0 0 3px; }
        th { font-weight: bold; padding-right: 7px; }
    }
}

.order-items { overflow-x: auto; width: 100%;
    h2, h3 { clear: none; color: #0a263c; font-size: em(13); font-weight: bold; margin: 0 0 5px; padding: 0; }
    .product-name { font-size: 1em !important; font-weight: bold !important; }
    .link-print { color: #1e7ec8; font-weight: normal; }
    .order-links { text-align: right; }
}

.order-additional { margin: 15px 0; }
/* Order Gift Message */
.gift-message {
    dt strong { color: #666; }
    dd { font-size: em(13); margin: 5px 0 0; }
}
/* Order Comments */
.order-about {
    dt { font-weight: bold; }
    dd { font-size: em(13); margin: 0 0 7px; }
}

.tracking-table { margin: 0 0 15px; 
    th { font-weight: bold; white-space: nowrap; }
}

.tracking-table-popup { width: 100%;
    th { font-weight: bold; white-space: nowrap; }
    th, td { padding: 1px 8px; }
}

/* Order Print Pages */
.page-print {
    h1 { font-size: em(16); font-weight: bold; }
    h2,
    h3 { font-size: em(13); font-weight: bold; }
    h2.h2 { font-size: em(16); font-weight: bold; }
    .order-date { background: url(../images/bkg_divider1.gif) repeat-x 0 100%; margin: 0 0 10px; padding: 0 0 10px; }
    .col2-set { margin: 0 0 10px; }
    /* Price Rewrites */
    .gift-message-link { display: none; }
    .price-excl-tax, .price-incl-tax { display: block; white-space: nowrap; }
    .cart-price, .price-excl-tax .label, .price-incl-tax .label, .price-excl-tax .price, .price-incl-tax .price { display: inline; }
    .print-head { margin: 0 0 15px;
        .logo { float: left; }
        address { float: left; margin-left: 15px; }
    }
}

/* My Wishlist */
.my-wishlist {
    .data-table td { padding: 10px; }
    .product-image { display: block; height: 113px; margin: 0 0 5px; width: 113px; }
    textarea { display: block; height: 109px; width: 97%; }
    .buttons-set { margin-top: 2em;
        button.button { float: none; }
        .btn-add span,
        .btn-share span { background: #618499; border-color: #406a83; }
    }
}
#wishlist-table .add-to-links { white-space: nowrap; }

/* My Tags */
.my-tag-edit { float: left; margin: 0 0 10px;
    .btn-remove { float: right; margin: 4px 0 0 5px; }
}
#my-tags-table { clear: both;
    td { padding: 10px; }
    .add-to-links { white-space: nowrap; }
}

/* My Reviews */
#my-reviews-table td { padding: 10px; }

.product-review {
    h3 { color: #2f2f2f; font-size: em(12); margin: 0 0 3px; }
    dt { font-weight: bold; }
    dd { font-size: em(13); margin: 5px 0 0; }
    .product-details { margin-left: 150px; }
    .product-name { font-size: em(16); font-weight: bold; margin: 0 0 10px; }
    .ratings-table { margin: 0 0 10px; }
    .product-img-box { float: left; width: 140px;
        .product-image { display: block; height: 125px; width: 125px; }
        .label { font-size: em(11); margin: 0 0 3px; }
        .ratings .rating-box { display: block; float: none; margin: 0 0 3px; }
    }
}

/* Billing Agreements */
.billing-agreements {
    .info-box { margin: 15px 0; }
    .form-list li select { float: left; }
    .form-list li button.button { float: left; margin-left: 10px; }
    .table-caption { font-size: em(13); font-weight: bold; }
}
/* ======================================================================================= */