/* Content Styles ================================================================= */
.product-name { font-size: 1em; font-weight: normal; margin: 0; 
    a {}
}

/* Product Tags */
.tags-list { background: #f8f7f5; border: 1px solid #c1c4bc; display: block; font-size: em(13); padding: 10px;
    li { display: inline !important; margin: 0 4px 0 0;
        a {}
    }
}

/* Advanced Search */
.advanced-search .form-list {
    label { padding-right: 10px; width: 160px; }
    .input-box, .input-range { clear: none; float: left; }
}
.advanced-search-amount { margin: 0 0 10px; }
.advanced-search-summary { background: #fff6f1; border: 1px solid #e9d7c9; margin: 10px 0; padding: 10px;
    ul { float: left; width: 49%; }
    strong { background: url(../images/i_search_criteria.gif) no-repeat 0 3px; color: #E17C24; padding-left: 15px; }
    p { clear: both; font-weight: bold; margin: 0; }
}

/* CMS Home Page */
.cms-home .subtitle {}
.cms-index-index .subtitle {}

/* Sitemap */
.page-sitemap {
    .links { margin: 0 8px -22px 0; text-align: right; }
    .links a { position: relative; text-decoration: none; }
    .links a:hover { text-decoration: underline; }

    .sitemap { margin: 12px; }
    .sitemap a { color: #1b2d3b; }
    .sitemap li { margin: 3px 0; }
    .sitemap li.level-0 { font-weight: bold; margin: 10px 0 0;}
    .sitemap li.level-0 a { color: #1e7ec8; }
}

/* RSS */
.rss-title h1 { background: url(../images/i_rss-big.png) no-repeat 0 4px; padding-left: 27px; }
.rss-table .link-rss { background-position: 0 4px; display: block; line-height: 1.55; }
/* ======================================================================================= */

/* Shopping Cart ========================================================================= */
.cart .page-title { border-bottom: 0; margin: 0 0 12px;
    h1 { margin: 10px 0 0; }
}

/* Checkout Types */
.cart .page-title .checkout-types li { margin: 0 0 5px; }
.cart .title-buttons .checkout-types { float: right; }
.cart .title-buttons .checkout-types li { float: left; margin: 0 0 5px 5px; }
.cart .checkout-types .paypal-or { line-height: 2.3; margin: 0 8px; }
.cart .totals .checkout-types .paypal-or { clear: both; display: block; font-size: em(11); line-height: 1.0; padding: 8px 55px 0 0; }

/* Shopping Cart Table */
.cart-table {
    th { padding: 2px 10px; }
    td { padding: 10px; }
    .product-name { color: #2f2f2f; font-weight: bold; margin: 0 0 5px; }
    .item-msg { color: #df280a; font-size: em(11); font-weight: bold; margin: 5px 0; }
    tfoot td { padding: 5px 10px; }
    .btn-continue { float: left; }
    .btn-empty span, .btn-continue span, .btn-update span { background: #618499; border-color: #406a83; }
    .btn-update, .btn-empty { float: right; }
    .btn-update { margin-left: 10px; }
}

/* Shopping Cart Collateral boxes */
.cart .cart-collaterals { padding: 25px 0 0;
    .col2-set { float: left; width: 605px;
        .col-2 { width: 294px; }
    }
}

.cart .crosssell { background: #fafaec; border: 1px solid #cec3b6; padding: 12px 15px;
    h2 { font-size: em(13); font-weight: bold; }
    .product-image { border: 1px solid #d0cdc9; float: left; height: 75px; width: 75px; }
    .product-details { margin-left: 90px; }
    .product-name { font-weight: bold; }
    li.item { margin: 12px 0; }
    .link-compare { font-weight: normal; }
}

/* Discount Codes & Estimate Shipping and Tax Boxes */
.cart .discount, .cart .shipping { background: #fff url(../images/bkg_block-title.gif) repeat-x 0 0; border: 1px solid #d0cbc1; margin: 0 0 18px; padding: 12px 15px; }
.cart .discount h2, .cart .shipping h2 { background-position: 0 0; background-repeat: no-repeat; color: #e26703; font: bold 13px/16px Arial, Helvetica, sans-serif; padding: 0 0 0 21px; text-transform: uppercase; }
.cart .discount button span, .cart .shipping button span { background: #618499; border-color: #406a83; }
.cart .discount .buttons-set, .cart .shipping .buttons-set { border: 0; margin: 10px 0 0; padding: 0; text-align: left; }
.cart .discount .buttons-set button.button, .cart .shipping .buttons-set button.button { float: none; margin-left: 0; }

.cart .discount {
    h2 { background-image: url(../images/i_discount.gif); }
    .input-box { margin: 8px 0 0; width: 260px; }
    input.input-text { width: 254px; }
}

.cart .shipping {
    h2 { background-image: url(../images/i_shipping.gif); }
    .sp-methods { background: url(../images/bkg_divider1.gif) repeat-x 0 0; margin: 10px 0 0; padding: 5px 0 0; }
}

/* Shopping Cart Totals */
.cart .totals { background: #dee5e8; border: 1px solid #bebcb7; float: right; width: 268px;
    table { margin: 7px 0; width: 100%; }
    td { padding: 1px 15px 1px 7px; }
    tr.last td {}
    tfoot {
        th { padding: 5px 15px 5px 7px; }
        td { padding-top: 5px; padding-bottom: 5px; }
        th strong, td strong { font-size: em(15); }
    }
    .checkout-types { font-size: em(13); padding: 8px 15px 15px; text-align: right;
        li { clear: both; margin: 10px 0; }
    }
}

/* Options Tool Tip */
.item-options dt { font-weight: bold; font-style: italic; }
.item-options dd { padding-left: 10px; margin: 0 0 6px; }
.truncated { cursor: help;
    a.dots { cursor: help; }
    a.details { cursor: help; }
    .truncated_full_value { position: relative; z-index: 999;
        .item-options { background-color: #f6f6f6; border: 1px solid #ddd; left: -99999em; padding: 8px; position: absolute; top: -99999em; width: 250px; z-index: 999; }
        .item-options > p { font-weight: bold; text-transform: uppercase; }
    }
    .show .item-options { left: 50%; top: -20px; }
}
.col-left .truncated .show .item-options { left: 15px; top: 7px; }
.col-right .truncated .show .item-options { left: -240px; top: 7px; }
/* ======================================================================================= */