body {
   background: white;
   font-size: 12pt;
}

#nav {
   display: none;
}

.main-container {
   background: transparent none;
   border: 0;
   border-top: 1px solid #930;
   color: black;
   float: none !important;
   margin: 0 5% 0 10%;
   padding: 1em 0 0 0;
   width: auto;
}

.logo {
   vertical-align: bottom;
}

a:link, a:visited {
   color: #013987;
   background: transparent;
   font-weight: bold;
   text-decoration: underline;
}