@import "functions";
$font-start: 12;
$font-base: setBase($font-start);

/* Generic usability/accessibility styles ======================================== */
/********** Generic usability/accessibility styles **********/
label, a, button, select, input[type="submit"] { 
	cursor: pointer;
}
abbr {
    cursor: help; 
}
textarea {
    resize: vertical; 
}
/*::selection,::-moz-selection {  }*/

html { 
    background: white;
    color: black;
    font: #{$font-base}em/1.5 Arial, Helvetica, sans-serif; /* Set base font size here = 12px */
    overflow-y: scroll;
}

a { color: blue;
    text-decoration: underline;
    &:hover { text-decoration: none; }
}

/* Headings ===================================================================== */
h1,h2,h3,
h4,h5,h6      { color: #0a263c; font-weight: bold; line-height: 1.35; margin: 0 0 5px; }
h1            { font-size: em(32); font-weight:normal; } /* = 32px */
h2            { font-size: em(26); font-weight:normal; } /* = 26px */
h3            { font-size: em(22); } /* = 22px */
h4            { font-size: em(18); } /* = 18px */
h5            { font-size: em(16); } /* = 16px */
h6            { font-size: em(14); } /* = 14px */

img {
    border: 0;
    vertical-align: top;
}

/* Table ======================================================================== */
table         { border: 0; empty-cells: show; font-size:100%; }
caption,th,td { vertical-align: top; text-align: left; font-weight: normal; }

/* Tools ======================================================================== */
.hidden       { display: block !important; border: 0 !important; margin: 0 !important; padding: 0 !important; font-size: 0 !important; line-height: 0 !important; width: 0 !important; height: 0 !important; overflow: hidden !important; }
.nobr         { white-space: nowrap !important; }
.wrap         { white-space: normal !important; }
.a-left       { text-align: left !important; }
.a-center     { text-align: center !important; }
.a-right      { text-align: right !important; }
.v-top        { vertical-align: top; }
.v-middle     { vertical-align: middle; }
.f-left,
.left         { float: left !important; }
.f-right,
.right        { float: right !important; }
.f-none       { float: none !important; }
.f-fix        { float: left; width: 100%; }
.no-display   { display: none; }
.no-margin    { margin: 0 !important; }
.no-padding   { padding: 0 !important; }
.no-bg        { background: none !important; }

/* Content ====================================================================== */
p             { margin: 0 0 10px; }
strong        { font-weight: bold; }
address       { font-style: normal; line-height: 1.35; }
cite          { font-style: normal; }
q,
blockquote    { quotes: none; }
q:before,
q:after       { content: ''; }
small,big     { font-size: 1em; }

/* Remove list styling from site but leave for cms pages */
ul,ol,dt { list-style: none;}
.cms-page-view .main-container .std {
    ul,ol {
        margin-left: 30px;
    }
    ul {
        list-style-type: disc;
    }
    ol {
        list-style-type: decimal;
    }
}
/* Layout ======================================================================== */
.wrapper { min-width: 954px; }
.page {}
.page-print { background: #fff; padding: 25px 30px; text-align: left; }
.page-empty { background: #fff; padding: 20px; text-align: left; }
.page-popup { background: #fff; padding: 25px 30px; text-align: left; }
.main-container {}
.main { margin: 0 auto; min-height: 400px; padding: 25px 25px 80px; text-align: left; width: 900px; }

/* Base Columns */
.col-left { float: left; padding: 0 0 1px; width: 195px; }
.col-main { float: left; padding: 0 0 1px; width: 685px; }
.col-right { float: right; padding: 0 0 1px; width: 195px; }

/* 1 Column Layout */
.col1-layout .col-main { float: none; width: auto; }

/* 2 Columns Layout */
.col2-left-layout .col-main { float: right; }
.col2-right-layout .col-main {}

/* 3 Columns Layout */
.col3-layout {
    .col-main { margin-left: 17px; width: 475px; }
    .col-wrapper { float: left; width: 687px;
        .col-main { float: right; }
    }
}

/* Content Columns */
.col2-set {
    .col-1 { float: left; width: 48.5%; }
    .col-2 { float: right; width: 48.5%; }
    .col-narrow { width: 32%; }
    .col-wide { width: 65%; }
}

.col3-set {
    .col-1 { float: left; width: 32%; }
    .col-2 { float: left; margin-left: 2%; width: 32%; }
    .col-3 { float: right; width: 32%; }
}

.col4-set {
    .col-1 { float: left; width: 23.5%; }
    .col-2 { float: left; margin: 0 2%; width: 23.5%; }
    .col-3 { float: left; width: 23.5%; }
    .col-4 { float: right; width: 23.5%; }
}

/* Global Styles ================================================================ */
/* Forms ======================================================================== */
form { display: inline; }
fieldset { border: 0; }
input,select,textarea,button { color: #2f2f2f; font: 12px/15px Arial, Helvetica, sans-serif; vertical-align: middle; }
input.input-text,select,textarea { background: #fff; border: 1px solid #b6b6b6; }
input.input-text,textarea { padding: 2px; }
select { padding: 1px; 
    option { padding-right: 10px; }
}
select.multiselect option { border-bottom: 1px solid #b6b6b6; padding: 2px 5px;
    &:last-child { border-bottom: 0; }
}
textarea { overflow: auto; }
input.radio { margin-right: 3px; }
input.checkbox { margin-right: 3px; }
input.qty { width: 2.5em !important; }
button.button::-moz-focus-inner { border: 0; padding: 0; } /* FF Fix */
button.button { -webkit-border-fit:lines; } /* <- Safari & Google Chrome Fix */
button.button { background: transparent; border: 0; cursor: pointer; margin: 0; overflow: visible; padding: 0; width: auto; 
    span { background: #f18200; border: 1px solid #de5400; color: #fff; display: block; font: bold 12px/19px Arial, Helvetica, sans-serif; height: 19px; padding: 0 8px; text-align: center; white-space: nowrap; }
    span span { border: 0; padding: 0; }
}
button.disabled span { background: #bbb !important; border-color: #bbb !important; }

button.btn-checkout span { border: 0; background: url(../images/btn_checkout.gif) no-repeat 0 0; color: #fff; font: bold 15px/40px Arial, Helvetica, sans-serif; height: 40px; padding: 0 0 0 9px;
    span { background-position: 100% 0; padding: 0 25px 0 16px; }
}
button.btn-checkout.no-checkout span { background-position: 0 100%; color: #b8baba;
    span { background-position: 100% 100%; }
}

p.control input.checkbox,
p.control input.radio { margin-right: 6px; }
/* Form Highlight */
input.input-text:focus,select:focus,textarea:focus { background-color: #edf7fd; }

/* Form lists */
/* Grouped fields */
.form-list { 
    li { margin: 0 0 8px; 
        label { color: #666; float: left; font-weight: bold; position: relative; z-index: 0; 
            &.required {
                em { float: right; font-style: normal; color: #eb340a; position: absolute; right: -8px; top: 0; }
            }
        }
        &.control {
            label { float: none; }
            input.radio,
            input.checkbox { margin-right: 6px; }
            .input-box { clear: none; display: inline; width: auto; }
        }
    }
    .input-box { clear: both; display: block; width: 260px; }
    .field { float: left; width: 275px; }
    input.input-text { width: 254px; }
    textarea {height: 10em; width: 254px; }
    select { width: 260px; }
    li.wide {
        .input-box { width: 535px; }
        input.input-text { width: 529px; }
        textarea { width: 529px; }
        select { width: 535px; }
    }
    li.additional-row { border-top: 1px solid #ccc; margin-top: 10px; padding-top: 7px;
        .btn-remove { float: right; margin: 5px 0 0; }
    }
    .input-range input.input-text { width: 74px; }
}

.form-list-narrow {
    li  { margin-bottom: 0; 
        .input-box { margin-bottom: 6px; }
    }
    li.wide {
        .input-box { width: 260px; } 
        input.input-text, 
        textarea { width: 254px } 
        select { width: 260px; }
    }
}

/* Customer */
.form-list {
    .customer-name-prefix .input-box,
    .customer-name-suffix .input-box,
    .customer-name-prefix-suffix .input-box,
    .customer-name-prefix-middlename .input-box,
    .customer-name-middlename-suffix .input-box,
    .customer-name-prefix-middlename-suffix .input-box { width: auto; }

    .name-prefix { width: 65px;
        select { width: 55px; }
        input.input-text { width: 49px; }
    }

    .name-middlename { width: 70px;
        .name-middlename input.input-text { width: 49px; }
    }

    .customer-name-prefix-middlename-suffix .name-firstname,
    .customer-name-prefix-middlename .name-firstname { width: 140px; }
    .customer-name-prefix-middlename-suffix .name-firstname input.input-text,
    .customer-name-prefix-middlename .name-firstname input.input-text { width: 124px; }
    .customer-name-prefix-middlename-suffix .name-lastname { width: 205px; }
    .customer-name-prefix-middlename-suffix .name-lastname input.input-text { width: 189px; }

    .customer-name-prefix-suffix {
        .name-firstname { width: 210px; }
        .name-lastname { width: 205px; }
        .name-firstname input.input-text,
        .name-lastname input.input-text { width: 189px; }

        .name-firstname { width: 210px; }
        .name-lastname { width: 205px; }
        .name-firstname input.input-text,
        .name-lastname input.input-text { width: 189px; }
    }

    .customer-name-prefix .name-firstname,
    .customer-name-middlename .name-firstname { width: 210px; }

    .customer-name-suffix .name-lastname,
    .customer-name-middlename .name-firstname,
    .customer-name-middlename-suffix .name-firstname,
    .customer-name-middlename-suffix .name-lastname { width: 205px; }

    .customer-name-prefix .name-firstname input.input-text,
    .customer-name-suffix .name-lastname input.input-text,
    .customer-name-middlename .name-firstname input.input-text,
    .customer-name-middlename-suffix .name-firstname input.input-text,
    .customer-name-middlename-suffix .name-lastname input.input-text { width: 189px; }

    .customer-dob {
        .dob-month,
        .dob-day,
        .dob-year { float: left; width: 85px; }
        input.input-text { display: block; width: 74px; }
        label { color: #888; font-size: 10px; font-weight: normal; }
        .dob-day,
        .dob-month { width: 60px; }
        .dob-day input.input-text,
        .dob-month input.input-text { width: 46px; }
        .dob-year { width: 140px; }
        .dob-year input.input-text { width: 134px; }
    }
}

/* Button sets */
.buttons-set { border-top: 1px solid #e4e4e4; clear: both; margin: 4em 0 0; padding: 8px 0 0; text-align: right;
    p.required { margin: 0 0 10px; }
    .back-link { float: left; margin: 0; }
    button.button { float: right; margin-left: 5px; }
}

.buttons-set-order { margin: 10px 0 0; }
.buttons-set-order .please-wait { padding: 12px 7px 0 0; }

.fieldset { background: #fbfaf6; border: 1px solid #bbafa0; margin: 28px 0; padding: 22px 25px 12px 33px; }
.fieldset .legend { background: #f9f3e3; border: 1px solid #f19900; color: #e76200; float: left; font-weight: bold; font-size: 13px; margin: -33px 0 0 -10px; padding: 0 8px; position: relative; }

/* Form Validation */
.validation-advice { background: url(../images/validation_advice_bg.gif) no-repeat 2px 0; color: #eb340a; clear: both; font-size: 11px; font-weight: bold; line-height: 13px; margin: 3px 0 0; min-height: 13px; padding-left: 17px; }
.validation-failed { background: #faebe7 !important; border: 1px dashed #eb340a !important; }
.validation-passed {}
p.required { color: #EB340A; font-size: 11px; text-align: right; }
/* Expiration date and CVV number validation fix */
.v-fix { float: left; }
.v-fix .validation-advice { display: block; margin-right: -12em; position: relative; width: 12em; }

/* Breadcrumbs =================================================================== */
.breadcrumbs { font-size: 11px; line-height: 1.25; margin: 0 0 13px; }
.breadcrumbs li { display: inline; }
.breadcrumbs li strong { font-weight: bold; }

/* Page Heading ================================================================== */
.page-title { border-bottom: 1px solid #ccc; margin: 0 0 25px; overflow: hidden; width: 100%; 
    h1,
    h2 { color: #0a263c; font-size: 20px; margin: 0; }
    .separator { margin: 0 3px; }
    .link-rss { float: right; margin: 7px 0 0; }
}
.title-buttons { text-align: right;
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 { float: left; }
}

.subtitle,
.sub-title { clear: both; color: #e25203; font-size: 15px; font-weight: bold; margin: 0 0 6px; padding: 15px 0 0; }


/* Pager ========================================================================= */
.pager { background: #fff url(../images/bkg_toolbar.gif) repeat-x 0 100%; border-top: 1px solid #e2e2e2; font-size: 11px; padding: 4px 8px; text-align: center;
    .amount { float: left; margin: 0; }
    .limiter { float: right;
        label { vertical-align: middle; }
        select { margin: 0 0 1px; padding: 0; vertical-align: middle; }
    }
    .pages { margin: 0 140px;
        ol { display: inline; }
        li { display: inline; margin: 0 2px; }
        .current {}
    }
}

/* Sorter ======================================================================== */
.sorter { background: #fff url(../images/bkg_toolbar.gif) repeat-x 0 100%; border-top: 1px solid #e2e2e2; font-size: 11px; padding: 3px 8px;
    .view-mode { float: left; margin: 0; }
    .sort-by { float: right; padding-right: 36px;
        label { vertical-align: middle; }
        select { margin: 0 0 1px; padding: 0; vertical-align: middle; }
    }
    .link-feed {}
}

/* Toolbar ======================================================================= */
.toolbar {
    .pager { border-bottom: 1px solid #fff; padding: 3px 8px; }
    .sorter { border-bottom: 1px solid #fff; }
}
.toolbar-bottom {}

/* Data Tables =================================================================== */
.data-table { border: 1px solid #bebcb7; width: 100%;
    .odd  { background: #f8f7f5 }
    .even { background: #eeeded; }
    tr.even:hover { background: #ebf1f6; }
    td.last,
    th.last { border-right: 0; }
    tr.last th,
    tr.last td { border-bottom: 0 !important; }
    th { font-weight: bold; padding: 3px 8px; }
    td { padding: 3px 8px; }

    thead {
        th { border-right: 1px solid #c2d3e0; color: #0a263c; font-weight: bold; padding: 2px 8px; vertical-align: middle; white-space: nowrap; }
        th.wrap { white-space: normal; }
        th a,
        th a:hover { color: #fff; }
        th { background: #d9e5ee url(../images/bkg_th.gif) repeat-x 0 100%; }
        th .tax-flag { font-size: 11px; white-space: nowrap; }
    }

    tfoot { border-bottom: 1px solid #d9dde3;
        tr.first td { background: url(../images/bkg_tfoot.gif) repeat-x 0 0; }
        tr { background-color: #dee5e8 !important; }
        td { border-bottom: 0; border-right: 1px solid #d9dde3; padding-top: 1px; padding-bottom: 1px; }
        strong { font-size: 16px; }
    }

    tbody {
        th,
        td { border-bottom: 1px solid #d9dde3; border-right: 1px solid #d9dde3; }
        /* Bundle products tables */
        &.odd tr { background: #f8f7f5 !important; }
        &.even tr { background: #f6f6f6 !important; }
        &.odd tr td,
        &.even tr td { border-bottom: 0; }
        &.odd tr.border td,
        &.even tr.border td { border-bottom: 1px solid #d9dde3; }

        td .option-label { font-style: italic; font-weight: bold; }
        td .option-value { padding-left: 10px; }
    }

/* Global Messages =============================================================== */
.success { color: #3d6611; font-weight: bold; }
.error { color: #df280a; font-weight: bold; }
.notice { color: #e26703; }

.messages { 
    overflow: hidden;
    width: 100%;
    ul { list-style: none !important; margin: 0 !important; padding: 0 !important; }
    li { margin: 0 0 10px !important; }
    li li { margin: 0 0 3px !important; }
}
.error-msg,
.success-msg,
.note-msg,
.notice-msg { background-position: 10px 9px !important; background-repeat: no-repeat !important; min-height: 24px !important; padding: 8px 8px 8px 32px !important; font-size: 1em !important; font-weight: bold !important; }
.error-msg { background-color: #D94239; color: #ffffff; }
.success-msg { background-color: #98B95A; color: #ffffff; }
.note-msg,
.notice-msg { background-color: #F3F7AC; color: #363636; }


/* Clears ======================================================================== */
.clearer:after,
.header-container:after,
.header-container .top-container:after,
.header:after,
.header .quick-access:after,
#nav:after,
.main:after,
.footer:after,
.footer-container .bottom-container:after,
.col-main:after,
.col2-set:after,
.col3-set:after,
.col3-layout .product-options-bottom .price-box:after,
.col4-set:after,
.search-autocomplete li:after,
.block .block-content:after,
.block .actions:after,
.block li.item:after,
.block-poll li:after,
.block-layered-nav .currently li:after,
.page-title:after,
.products-grid:after,
.products-list li.item:after,
.box-account .box-head:after,
.dashboard .box .box-title:after,
.box-reviews li.item:after,
.box-tags li.item:after,
.pager:after,
.sorter:after,
.ratings:after,
.add-to-box:after,
.add-to-cart:after,
.product-essential:after,
.product-collateral:after,
.product-view .product-img-box .more-views ul:after,
.product-view .box-tags .form-add:after,
.product-view .product-shop .short-description:after,
.product-view .box-description:after,
.product-options .options-list li:after,
.product-options-bottom:after,
.product-review:after,
.cart:after,
.cart-collaterals:after,
.cart .crosssell li.item:after,
.opc .step-title:after,
.checkout-progress:after,
.multiple-checkout .place-order:after,
.group-select li:after,
.form-list li:after,
.form-list .field:after,
.buttons-set:after,
.page-print .print-head:after,
.advanced-search-summary:after,
.gift-messages-form .item:after,
.send-friend .form-list li p:after { display:block; content:"."; clear:both; font-size:0; line-height:0; height:0; overflow:hidden; }
