/*
Syntax error: Invalid CSS after "...rflow:hidden; }": expected "}", was ""
        on line 490 of styles.scss

485: .buttons-set:after,
486: .page-print .print-head:after,
487: .advanced-search-summary:after,
488: .gift-messages-form .item:after,
489: .send-friend .form-list li p:after { display:block; content:"."; clear:both; font-size:0; line-height:0; height:0; overflow:hidden; }

Backtrace:
styles.scss:490
/Users/Thundercracker/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.1.20/lib/sass/scss/parser.rb:1010:in `expected'
/Users/Thundercracker/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.1.20/lib/sass/scss/parser.rb:956:in `expected'
/Users/Thundercracker/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.1.20/lib/sass/scss/parser.rb:951:in `tok!'
/Users/Thundercracker/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.1.20/lib/sass/scss/parser.rb:463:in `block'
/Users/Thundercracker/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.1.20/lib/sass/scss/parser.rb:456:in `ruleset'
/Users/Thundercracker/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.1.20/lib/sass/scss/parser.rb:480:in `block_child'
/Users/Thundercracker/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.1.20/lib/sass/scss/parser.rb:473:in `block_contents'
/Users/Thundercracker/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.1.20/lib/sass/scss/parser.rb:58:in `stylesheet'
/Users/Thundercracker/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.1.20/lib/sass/scss/parser.rb:27:in `parse'
/Users/Thundercracker/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.1.20/lib/sass/engine.rb:327:in `_to_tree'
/Users/Thundercracker/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.1.20/lib/sass/engine.rb:300:in `_render'
/Users/Thundercracker/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.1.20/lib/sass/engine.rb:247:in `render'
/Users/Thundercracker/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.1.20/lib/sass/plugin/compiler.rb:340:in `update_stylesheet'
/Users/Thundercracker/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.1.20/lib/sass/plugin/compiler.rb:202:in `block in update_stylesheets'
/Users/Thundercracker/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.1.20/lib/sass/plugin/compiler.rb:200:in `each'
/Users/Thundercracker/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.1.20/lib/sass/plugin/compiler.rb:200:in `update_stylesheets'
/Users/Thundercracker/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.1.20/lib/sass/plugin/compiler.rb:298:in `block in watch'
/Users/Thundercracker/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.1.20/vendor/listen/lib/listen/multi_listener.rb:86:in `call'
/Users/Thundercracker/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.1.20/vendor/listen/lib/listen/multi_listener.rb:86:in `on_change'
/Users/Thundercracker/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.1.20/vendor/listen/lib/listen/multi_listener.rb:95:in `block in initialize_adapter'
/Users/Thundercracker/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.1.20/vendor/listen/lib/listen/adapters/polling.rb:55:in `call'
/Users/Thundercracker/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.1.20/vendor/listen/lib/listen/adapters/polling.rb:55:in `poll'
/Users/Thundercracker/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.1.20/vendor/listen/lib/listen/adapters/polling.rb:31:in `block in start'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Invalid CSS after \"...rflow:hidden; }\": expected \"}\", was \"\"\A         on line 490 of styles.scss\A \A 485: .buttons-set:after,\A 486: .page-print .print-head:after,\A 487: .advanced-search-summary:after,\A 488: .gift-messages-form .item:after,\A 489: .send-friend .form-list li p:after { display:block; content:\".\"; clear:both; font-size:0; line-height:0; height:0; overflow:hidden; }"; }
